
PortalClientesRotoplas/src/main/java/com/alliax/portalclientes/general/sap/SAPConexionPool.java

*.sql

PortalClientesRotoplas/src/main/resources/META-INF/jdbc.properties

Docs/Especificaciones/Pruebas Crear Pedido.docx
